.static-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.img {
  opacity: 0;
  background-size: cover;
}
.img.active {
  opacity: 1;
}
.bg {
  background-color: rgba(249, 250, 251, 1);
}
